<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="br.trictv.trictv" android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="33" />
  <!-- <application android:label="trictv" android:theme="@style/MainTheme" android:icon="@mipmap/ic_launcher"></application>  -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <application android:label="trictv" android:theme="@style/MainTheme" android:icon="@mipmap/ic_launcher">
    <!-- Declare o BroadcastReceiver dentro do elemento <application> -->
    <receiver android:name=".MarkAsReadReceiver" />
  </application>
</manifest>